
# 通用
ENV=production
API_BASE_URL=http://127.0.0.1:8000
SCREENSHOT_BASE_URL=http://127.0.0.1:8000/static/screenshots
STATIC=/static # 外部访问路径（URL 前缀）
OUT_DIR=./static/screenshots    # 本地输出目录
IMAGE_BASE_URL=/static/screenshots  # 图片访问 URL
DATA_DIR=data

# 后端专用

# AI 相关配置
OPENAI_API_KEY=
OPENAI_API_BASE_URL=
OPENAI_MODEL=
DEEP_SEEK_API_KEY=
DEEP_SEEK_API_BASE_URL=
DEEP_SEEK_MODEL
QWEN_API_KEY=
QWEN_API_BASE_URL=
QWEN_MODEL=
MODEl_PROVIDER= #如果不是openai 请修改 deepseek/qwen

# transcriber 相关配置
TRANSCRIBER_TYPE=fast-whisper # fast-whisper/bcut/kuaishou
WHISPER_MODEL_SIZE=base